[Desktop Entry]
Name=GoLand
Exec=env GDK_SCALE=1 GDK_DPI_SCALE=0.8 "/home/gamendez/.local/share/JetBrains/Toolbox/apps/goland/bin/goland" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/gamendez/.local/share/JetBrains/Toolbox/apps/goland/bin/goland.svg
Comment=An IDE for Go and Web
StartupWMClass=jetbrains-goland
StartupNotify=true
